
<h1> Voici la page de <%= @user = User.find_by(first_name: params[:first_name]).first_name %> <%= @user = User.find_by(first_name: params[:first_name]).last_name %>  </h1>

<h3> Description : </br> <%= @user = User.find_by(first_name: params[:first_name]).description %> </h3>

<p> Contact : <%= @user = User.find_by(first_name: params[:first_name]).email %> </p> </br>