<h1>Editer Articles </h1>

<%= form_for @gossip do |f| %>

    <div class="form-group">
        <label>Title</label>
        <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class= "form-group">
        <label>Contenue du gossip </label>
        <%= f.text_area :content, class: 'form-control' %>
    </div>

    <div class= "form-group">
        <button type="submit"> Modifier le gossip </button>
    </div>
    <%end%>

    <%= form_tag gossip_path(@gossip), method: :delete do %>
    <div class="form-group">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce gossip ?')">Supprimer le gossip</button>
    </div>
    <%end%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>